# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version
.pytest_cache/
htmlcov/
.coverage
.coverage.*
.cache

# Node/Frontend
node_modules/
.npm
.eslintcache
.node_repl_history
*.tsbuildinfo
.next
.nuxt
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.env.local
.env.development.local
.env.test.local
.env.production.local
dist/
dist-ssr/
coverage/
*.local
build/
.cache/
public/hot/
.parcel-cache/
.rollup.cache/
.temp/
.tmp/
.output/

# IDE/Editor
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log* 